@charset "UTF-8";

/*
##     ## ######## ##    ## ##     ## 
###   ### ##       ###   ## ##     ## 
#### #### ##       ####  ## ##     ## 
## ### ## ######   ## ## ## ##     ## 
##     ## ##       ##  #### ##     ## 
##     ## ##       ##   ### ##     ## 
##     ## ######## ##    ##  ####### 
*/

/*Compte lecteur*/
/*33PUDB_NETWORK_CL disparition amendes+frais, modification infos personnelles*/
/*############################################################################*/
#personalDetails, prm-account-links, md-tab-item:nth-child(4),prm-fines-overview{
  display: none;
}
/*augmentation taille texte dans onglet*/
md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item:not([disabled]){
  min-width: 8em;
}
/*33PUDB_NETWORK_CL_Adrese_compte_lecteur Empêche le chevauchement des lignes*/
/*###########################################################################*/
prm-personal-info md-input-container.md-input-has-value label:not(.md-no-float) {
  opacity: .8;
  transform: translate3d(0,15px,0) scale(0.85);
}
/*33PUDB_NETWORK_AFA_Authentification autres institutions*/
/*#######################################################*/
prm-login.layout-row  {
    flex-direction: column;
}
#REBUB-Authentification-Ext{
    justify-content: space-between;
    height: 100px;
}
.rebub-logo{
    width: 100%;
    margin-top: auto;
}
@media screen and (max-width: 960px) {
    #REBUB-Authentification-Ext{
    flex-direction: column;
    justify-content: center;
    height: auto;
}
    prm-login-after{
        height:100px;
    }
    .rebub-authentification-externe{
        margin:auto;
        margin-top: 20px;
    }
    .rebub-logo{
    width: 90%;
}
}
/* zone avec les logos pour l'authentification inter institutions */
#REBUB-Authentification-Ext {
  background-color: white;
}
/*END 33PUDB_NETWORK_AFA_Authentification autres institution*/
/*
########  ########  #### ######## ########    ########  ####  ######  ########  ##          ###    ##    ## 
##     ## ##     ##  ##  ##       ##          ##     ##  ##  ##    ## ##     ## ##         ## ##    ##  ##  
##     ## ##     ##  ##  ##       ##          ##     ##  ##  ##       ##     ## ##        ##   ##    ####   
########  ########   ##  ######   ######      ##     ##  ##   ######  ########  ##       ##     ##    ##    
##     ## ##   ##    ##  ##       ##          ##     ##  ##        ## ##        ##       #########    ##    
##     ## ##    ##   ##  ##       ##          ##     ##  ##  ##    ## ##        ##       ##     ##    ##    
########  ##     ## #### ######## ##          ########  ####  ######  ##        ######## ##     ##    ##
*/
/*33PUDB_NETWORK_AFA_FACETTES : Masque le titre des facettes "Affiner vos résultats"*/
/*##################################################################################*/
prm-facet h2[translate="nui.facets.title"]{
  display: none;
}
/*33PUDB Citation trail
#########################
/*33PUDB_NETWORK_CL_effacement liens dans citation trails*/
prm-times-cited{
  display: none;
}
prm-citation-trails-fullview-link span[translate="nui.citation_trail.link.Find"], prm-citation-trails-fullview-link span[translate="nui.citation_trail.link.sources"],prm-citation-trails-fullview-link span[translate="nui.citation_trail.link.or"]{
  display: none;
}
/*33PUDB_NETWORK_CL_TRIE Déplace le trie au dessus des facettes*/
/*##############################################################*/
@media screen and (min-width: 960px) {
  prm-facet .primo-scrollbar {
	overflow-x: visible !important;
	}
  #facets > prm-facet > div > div > div.sidebar-section.margin-bottom-small.compensate-padding-left.layout-row  {
    margin-left: 315%;
    position: absolute;
    /* margin-top: -27px; */
    z-index:12;
  }
  #facets > prm-facet > div > div > div.sidebar-section.margin-bottom-small.compensate-padding-left.layout-row > div > h3 {
    font-size: 0.85em;
    font-weight: 600;
  }
  prm-search-result-sort-by {
    padding-bottom: 6px;
    font-size: 14px;
  }
  prm-facet > div.primo-scrollbar.is-stuck > div > div.sidebar-section.margin-bottom-small.compensate-padding-left.layout-row {
    display:none;
  }
}
/*END 33PUDB_NETWORK_CL_TRIE*/

/*+-+-+-+-+-+-+-+-+-+-+ +-+-+-+-+-+-+-+-+-+
 |c|O|L|L|E|C|T|I|O|N| |D|I|S|C|O|V|E|R|Y|
 +-+-+-+-+-+-+-+-+-+-+ +-+-+-+-+-+-+-+-+-+*/
 div.infoEx {
  font-size: smaller;
}

.is-gallery-view div.infoEx {
  display: none;
}

/*
######## ##     ## ##       ##          ########  ####  ######  ########  ##          ###    ##    ## 
##       ##     ## ##       ##          ##     ##  ##  ##    ## ##     ## ##         ## ##    ##  ##  
##       ##     ## ##       ##          ##     ##  ##  ##       ##     ## ##        ##   ##    ####   
######   ##     ## ##       ##          ##     ##  ##   ######  ########  ##       ##     ##    ##    
##       ##     ## ##       ##          ##     ##  ##        ## ##        ##       #########    ##    
##       ##     ## ##       ##          ##     ##  ##  ##    ## ##        ##       ##     ##    ##    
##        #######  ######## ########    ########  ####  ######  ##        ######## ##     ##    ## 
*/

/*33PUDB Suppression des TAGS*/
/*---------------------------*/
/*Menu*/
[aria-label="Tags"],[aria-label="Etiquetas"],[aria-label="nui.mainmenu.label.tags"]{
  display:none;
}
/*Sections*/
#tags{
  display:none;
}
/*33PUDB Sent To fixé en bas de page*/
/*----------------------------------*/


/* #action_list, #action_list .section-head {
  margin: 0;
}

#action_list .section-head {
  display: none;
}

#action_list prm-action-list {
  position: fixed;
  bottom: 0;
  max-width: 68%;
  left: 50%;
  transform: translateX(-50%);

  z-index: 98;
  background-color: gainsboro;
  box-shadow: 0 1px 0 0 rgba(58,58,58,.1),0 1px 5px 0 rgba(58,58,58,.2);
}
#action_list prm-action-list .container-nav-controls {
  z-index: 100;
}
#action_list prm-action-list > md-nav-bar .md-nav-item .md-button {
  line-height: 16px;
}
#action_list prm-action-list > md-nav-bar .md-nav-item .md-button md-icon svg {
  height: 110%;
  width: 110%;
}
#action_list prm-action-list .md-button.accessible-close {
  width: inherit;
  height: inherit;
  left: inherit;
  overflow: inherit;
  position: inherit;
  margin: 0.5em 0 0.5em 0 !important;
}
prm-full-view .send-actions-content-item {
  padding: 0;
}
#action_list prm-action-list .send-actions-content-item div.flex {
  max-width: 500px;
}
@media screen and (max-width: 959px) {
  #action_list prm-action-list {
      max-width: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      transform:none;
  }
  #action_list prm-action-list > md-nav-bar .md-button {
      line-height: 14px;
  }
  #action_list prm-action-list > md-nav-bar .md-nav-item .md-button md-icon svg {
      height: 90%;
      width: 90%;
  }
}

@media screen and (max-width: 599px) {
  prm-action-list > md-nav-bar .md-nav-item {
      max-width: 65px;
  }
  #action_list prm-action-list {
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      transform:none;
  }
  #action_list prm-action-list > md-nav-bar .md-button {
      min-width: 50px;
      padding: 0.5em;
  }
} */

/*Changement de l'ordre des rubriques*/
/*###################################*/
.full-view-section {
  margin-top: 1em;
}
.full-view-inner-container{
  padding-bottom: 10em;
  display: flex;
  flex-direction: column;
 }
/*Menu de navigation*/
[aria-label="Notice abrégée"], [aria-label="Top"], [aria-label="Arriba"] {
  order: 0 !important; 
  display:none;
}
[aria-label="En ligne"], [aria-label="View it"], [aria-label="Visualizarlo"] {
  order: 0 !important;
}
[aria-label="En rayon"], [aria-label="Get it"], [aria-label="Obténgalo"] {
  order: 1 !important; 
}
[aria-label="Notice détaillée"],[aria-label="Details"],[aria-label="Detalles"] {
  order: 2 !important; 
}
[aria-label="Envoyer vers"], [aria-label="Send to"], [aria-label="Enviar a"] {
  order: 3 !important; 
}
[aria-label="Liens"],[aria-label="Links"],[aria-label="Enlaces"] {
  order: 4 !important;
   }
[aria-label="Citations"] {
  order: 6 !important; }
[aria-label="Etagère virtuelle"],[aria-label="Virtual browse"],[aria-label="Navegación virtual"] {
  order: 7 !important; }
[aria-label="Tags"], [aria-label="Etiquetas"] {
  order: 8 !important;
 display: none;
}
/*Rubriques*/
#getit_link1_0, #getit_link1 {
  order: 1;
   }
#getit_link2_0, #getit_link2 {
    order: 2;
  }
#details {
  order: 3; 
}
#action_list{
  order: 4;
}
#links {
  order: 5;
   }
#citationTrails {
  order: 6;
}
#virtualBrowse {
  order: 7; }
#tags {
  order: 8;
}

/*33PUDB_AFA Empêche l'affichage du mesage "Aucun document à afficher pour cet emplacement. Veuillez vous identifier ci-dessus pour voir les options de demande disponibles."
Quand aps de résultats Alma*/
.padding-left-medium[ng-if="$ctrl.currLoc.locationNoItems"] {
  display: none;
}

/* #Footer */
prm-explore-footer-after .footer {
  width:100%;
  margin:0 auto;
  background:#eef0eb;
  padding-top:10px;
  padding-bottom:35px;
  z-index: 10;
  position: relative;
}
prm-explore-footer-after .footer .footer-inner {
  padding:0 25px;
  text-align:center;
}
prm-explore-footer-after .footer .footer-inner .footer-logo-alignement {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}
prm-explore-footer-after .footer .footer-inner .footer-logo-alignement .footer-logo {
  /* display:inline-block; */
  margin-right: 20px;
  margin-top: 10px;

}
prm-explore-footer-after .footer .footer-inner .footer-logo-alignement .footer-logo img {
  max-width: 200px;
  max-height: 200px;

}
prm-explore-footer-after .footer .footer-inner .footer-instruction {
  font-family: 'Cronos Light';
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 15px;
  margin-top: 10px;
}

prm-user-area-expandable-after{
  display: flex;
}

prm-user-area-expandable-after #panier-covid{
  margin: auto;
}

/*Sélections*/
prm-collection-gallery-header h1{
  text-transform: uppercase;
}

/* Messages d'alertes */
/* Bug fixing: after adding the announcement bar the overlays (like when you click on the more (...) button) don't
show up properly and the following code fixes it */

/* md-backdrop, .md-dialog-container {
  position: fixed; } */
 
/* md-toast {
  z-index: 79; 
  @media screen and (min-width: 1920px) {
    md-toast.page-notification .md-toast-content {
      max-width: 999px;
  }
}
  } */
