@charset "UTF-8";

/*Uncomment the follwoing lines to move facets to the left*/

/*
prm-search > md-content.md-primoExplore-theme .main {
    display: -webkit-flex; !* Safari *!
    -webkit-flex-flow: row-reverse wrap; !* Safari 6.1+ *!
    display: flex;
    flex-flow: row-reverse wrap;

}
.screen-gt-sm .sidebar{
    webkit-flex: 0 0 15%;
    flex: 0 0 15%;
}

*/
/*33PUDB Suppression des TAGS*/
/* Hide Tags in Detailed Display */
[aria-label="Tags"]{display:none;}
#tags{display:none;}

/* Hide Tags in Menu Tab */
a.md-button[aria-label="TAGS"] {display:none;}
a.md-button[aria-label="nui.mainmenu.label.tags"] {display:none;}

/*33PUDB_NETWORK_AFA_FACETTES : Masque le titre des facettes "Affiner vos résultats"*/
prm-facet h2[translate="nui.facets.title"]{
    display: none;
}
/*END 33PUDB_NETWORK_AFA_FACETTES*/
/*33PUDB Citation trail
#################################################

/*33PUDB_NETWORK_CL_effacement liens dans citation trails*/
prm-times-cited{
  display: none;
}

prm-citation-trails-fullview-link span[translate="nui.citation_trail.link.Find"], prm-citation-trails-fullview-link span[translate="nui.citation_trail.link.sources"],prm-citation-trails-fullview-link span[translate="nui.citation_trail.link.or"]{
  display: none;
}



/*33PUDB_NETWORK_CL_Ordres des sections dans le fill display*/
/*##########################################################*/
/*changement de l'ordre des rubriques dans la vue complète*/
.full-view-inner-container {
  padding-bottom: 10em;
  display: flex;
  flex-direction: column; }

/*menu*/


[aria-label="Notice abrégée"] {
  order: 0 !important; 
display: none;
}
[aria-label="Notice détaillée"] {
  order: 1 !important; }

[aria-label="Obtenir"] {
  order: 2 !important; }

[aria-label="Plus"] {
  order: 3 !important;
    display:none;
   }
[aria-label="Ressource en ligne"] {
   order: 3 !important;
}


[aria-label="Liens"] {
  order: 4 !important;
   }

[aria-label="Envoyer vers"] {
  order: 5 !important; }

[aria-label="Citations"] {
  order: 6 !important; }

[aria-label="Parcourir"] {
  order: 7 !important; }

[aria-label="Etagère virtuelle"] {
  order: 7 !important; }

[aria-label="Tags"] {
  order: 8 !important;
/*display: none;*/
}

/*rubriques*/

#getit_link2_0, #getit_link2 {
  order: 3;
 
   }

#details {
  order: 1; 
}


#getit_link1_0 {
  order: 2; 
}
#getit_link1_1 {
  order: 2; 
}
#links {
  order: 4;
   }
#action_list {
  order: 4;
  
}
#citationTrails {
  order: 5;
 
}

#virtualBrowse {
  order: 6; }

#tags {
  order: 7;
  /*display:none;*/
}



/* réduction de la marge entre les rubriques*/
.full-view-section{
    margin-top: 1em;
}

/*##############################################################*/
/*33PUDB_NETWORK_CL_TRIE Déplace le trie au dessus des facettes*/
@media screen and (min-width: 960px) {
  prm-facet .primo-scrollbar {
	overflow-x: visible !important;
	}
  #facets > prm-facet > div > div > div.sidebar-section.margin-bottom-small.compensate-padding-left.layout-row  {
    margin-left: 345%;
    position: absolute;
    margin-top: -27px;
    z-index:1;
  }
  #facets > prm-facet > div > div > div.sidebar-section.margin-bottom-small.compensate-padding-left.layout-row > div > h3 {
    font-size: 0.85em;
    font-weight: 600;
  }
  prm-search-result-sort-by {
    padding-bottom: 6px;
    font-size: 14px;
  }
  prm-facet > div.primo-scrollbar.is-stuck > div > div.sidebar-section.margin-bottom-small.compensate-padding-left.layout-row {
    display:none;
  }
}
/*END 33PUDB_NETWORK_CL_TRIE*/

/*##############################################################*/
/* compte lecteur*/
/*disparition amendes+frais, modification infos personnelles*/
#personalDetails, prm-account-links, md-tab-item:nth-child(4),prm-fines-overview{
  display: none;
}
/*augmentation taille texte dans onglet*/
md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item:not([disabled]){
  min-width: 8em;
}


/*33PUDB_NETWORK_CL_Adrese_compte_lecteur Empêche le chevauchement des lignes*/
prm-personal-info md-input-container.md-input-has-value label:not(.md-no-float) {

opacity: .8;
transform: translate3d(0,15px,0) scale(0.85);
}
/*END 33PUDB_NETWORK_CL_Adrese_compte_lecteur*/

/*##############################################################*/
/*33PUDB_NETWORK_AFA_Authentification autres institutions*/
prm-login.layout-row  {
    flex-direction: column;
}
#REBUB-Authentification-Ext{
    justify-content: space-between;
    height: 100px;
}
.rebub-logo{
    width: 100%;
    margin-top: auto;
}
@media screen and (max-width: 960px) {
    #REBUB-Authentification-Ext{
    flex-direction: column;
    justify-content: center;
    height: auto;
}
    prm-login-after{
        height:100px;
    }
    .rebub-authentification-externe{
        margin:auto;
        margin-top: 20px;
    }
    .rebub-logo{
    width: 90%;
}
}
/* zone avec les logos pour l'authentification inter institutions */
#REBUB-Authentification-Ext {
  background-color: white;
}
/*END 33PUDB_NETWORK_AFA_Authentification autres institution*/
