<div ng-repeat="availability in $ctrl.displayedAvailability track by $index" layout="row" layout-align="start start">
    <div layout="flex" ng-if="::!$ctrl.isCollectionDiscoveryCollection" ng-if="$ctrl.showTimer">
        <prm-icon ng-if="$ctrl.isOnline($index,availability)" availability-type
            icon-type="{{::$ctrl.availabilityLineIcons.onlineMaterial.type}}"
            svg-icon-set="{{::$ctrl.availabilityLineIcons.onlineMaterial.iconSet}}"
            icon-definition="{{::$ctrl.availabilityLineIcons.onlineMaterial.icon}}"></prm-icon>
        <prm-icon ng-if="$ctrl.isPhysical($index,availability)" availability-type
            icon-type="{{::$ctrl.availabilityLineIcons.physicalMaterial.type}}"
            svg-icon-set="{{::$ctrl.availabilityLineIcons.physicalMaterial.iconSet}}"
            icon-definition="{{::$ctrl.availabilityLineIcons.physicalMaterial.icon}}"></prm-icon>
        <md-button prm-brief-internal-button-marker
            ng-click="$ctrl.handleAvailability($index, $event);$event.preventDefault();"
            class="neutralized-button arrow-link-button"
            aria-label="{{$ctrl.getTranslatedLine(\'delivery.code.\'+availability)}}{{($ctrl.isDirectLink($index) ? \'nui.aria.newWindow\' : \'\') | translate}}"
            title="{{$ctrl.getTranslatedLine(\'delivery.code.\'+availability)}}{{($ctrl.isDirectLink($index) ? \'nui.aria.newWindow\' : \'\') | translate}}">
            <span class="button-content"><span class="availability-status {{availability}}"
                    ng-class="{\'text-rtl\': $ctrl.switchToLtrString()}"
                    translate="delivery.code.{{$ctrl.handleDueDate(availability)}}"
                    translate-values="$ctrl.getPlaceHolders($ctrl.result)" translate-compile></span><span
                    ng-if="($ctrl.showDisplayOtherLocations() || $ctrl.showDisplayLocation()) && $ctrl.isPhysical($index)"
                    ng-bind-html="&nbsp;"></span> <span
                    ng-if="($ctrl.showDisplayOtherLocations() || $ctrl.showDisplayLocation()) && $ctrl.isPhysical($index)"
                    translate="delivery.and.other.locations"></span>
                <prm-icon ng-if="$ctrl.isDirectLink($index)" external-link
                    icon-type="{{$ctrl.availabilityLineIcons.externalLink.type}}"
                    svg-icon-set="{{$ctrl.availabilityLineIcons.externalLink.iconSet}}"
                    icon-definition="{{$ctrl.availabilityLineIcons.externalLink.icon}}"></prm-icon>
            </span>
            <prm-spinner class="inline-loader display-inline dark-on-light half-transparent"
                ng-if="$ctrl.result.rtaInProgress"></prm-spinner>
            <prm-icon link-arrow icon-type="{{::$ctrl.availabilityLineIcons.arrowRight.type}}"
                svg-icon-set="{{::$ctrl.availabilityLineIcons.arrowRight.iconSet}}"
                icon-definition="{{::$ctrl.availabilityLineIcons.arrowRight.icon}}"></prm-icon>
        </md-button>
    </div>
</div>
<div ng-if="::$ctrl.isCollectionDiscoveryCollection" layout="row" layout-align="start start">
    <prm-icon availability-type icon-type="{{::$ctrl.availabilityLineIcons.physicalMaterial.type}}"
        svg-icon-set="{{::$ctrl.availabilityLineIcons.physicalMaterial.iconSet}}"
        icon-definition="{{::$ctrl.availabilityLineIcons.physicalMaterial.icon}}"></prm-icon>
    <md-button prm-brief-internal-button-marker ng-click="$ctrl.runCollectionDiscoveryBeacon()"
        class="neutralized-button arrow-link-button" translate translate-attr-title="{{\'delivery.code.collection\'}}"
        ui-state="$ctrl.COLLECTION_DISCOVERY_STATE" ui-state-params="$ctrl.collectionStateParams"
        ui-sref-opts="{reload: true, inherit:false}" href=""><span class="button-content"><span
                translate="delivery.code.collection" translate-compile></span>
            <prm-icon ng-if="$ctrl.isDirectLink($index)" external-link
                icon-type="{{$ctrl.availabilityLineIcons.externalLink.type}}"
                svg-icon-set="{{$ctrl.availabilityLineIcons.externalLink.iconSet}}"
                icon-definition="{{$ctrl.availabilityLineIcons.externalLink.icon}}"></prm-icon>
        </span>
        <prm-icon link-arrow icon-type="{{::$ctrl.availabilityLineIcons.arrowRight.type}}"
            svg-icon-set="{{::$ctrl.availabilityLineIcons.arrowRight.iconSet}}"
            icon-definition="{{::$ctrl.availabilityLineIcons.arrowRight.icon}}"></prm-icon>
    </md-button>
</div>
<prm-search-result-availability-line-after parent-ctrl="$ctrl"></prm-search-result-availability-line-after>

<div ng-repeat="availability in $ctrl.locations track by $index">
    <div layout="row" layout-align="start start"
        class="layout-align-start-start layout-row avail-row {{availability.availability}}"> <span
            class="availability-status" ng-click="$ctrl.onLinkClick(availability, $event)"> <span
                ng-if="availability.availability" class="availability-display"
                translate-default="{{availability.availability}}"
                translate="fulldisplay.availabilty.{{availability.availability}}"> </span> <span
                ng-if="!availability.outboundLink" class=\'availability-link\' ng-show=\'availability.toTranslate\'>
                <span translate="{{availability.toTranslate}}" class="library-code"> </span> <span
                    ng-if="availability.subLocation" class="sublibrary-code">{{availability.subLocation}}</span> <span
                    ng-if="availability.callNumber" class="item-callnumber">{{availability.callNumber}}</span>
                <prm-icon ng-if="availability.outboundLink" icon-type="svg" svg-icon-set="primo-ui"
                    icon-definition="open-in-new" aria-label="externalLink" class="ng-scope ng-isolate-scope"
                    external-link>
                    <md-icon md-svg-icon="primo-ui:open-in-new" aria-label="externalLink" class="md-primoExplore-theme"
                        aria-hidden="true" />
                </prm-icon>
            </span> <a ng-if="availability.outboundLink" class=\'availability-link\'
                ng-show=\'availability.toTranslate\' href={{availability.outboundLink}}
                ng-click="$ctrl.prevent($event)"> <span translate="{{availability.toTranslate}}" class="library-code">
                </span> <span ng-if="availability.subLocation"
                    class="sublibrary-code">{{availability.subLocation}}</span> <span ng-if="availability.callNumber"
                    class="item-callnumber">{{availability.callNumber}}</span>
                <prm-icon ng-if="availability.outboundLink" icon-type="svg" svg-icon-set="primo-ui"
                    icon-definition="open-in-new" aria-label="externalLink" class="ng-scope ng-isolate-scope"
                    external-link>
                    <md-icon md-svg-icon="primo-ui:open-in-new" aria-label="externalLink" class="md-primoExplore-theme"
                        aria-hidden="true" />
                </prm-icon>
            </a> </span>
        <hesb-map ng-if="availability.callNumber" ctrl="availability"></hesb-map>
    </div>
</div>
<div ng-if="!loaded" class="locations-loading" layout="row" layout-align="start center">
    <prm-spinner class="inline-loader dark-on-light"></prm-spinner>
    <div class="loading-text">Checking availability...</span></div>