<div ng-repeat="availability in $ctrl.locations" layout="row" layout-align="start start">
    <div layout="row" layout-align="start start"
        class="layout-align-start-start layout-row avail-row {{availability.availability}}">
        <prm-icon availability-type icon-type="{{$ctrl.parentCtrl.availabilityLineIcons.physicalMaterial.type}}"
            svg-icon-set="{{$ctrl.parentCtrl.availabilityLineIcons.physicalMaterial.iconSet}}"
            icon-definition="{{$ctrl.parentCtrl.availabilityLineIcons.physicalMaterial.icon}}"></prm-icon>
        <md-button prm-brief-internal-button-marker
            ng-click="$ctrl.parentCtrl.handleAvailability($index, $event);$event.preventDefault();"
            class="neutralized-button arrow-link-button"
            aria-label="{{$ctrl.parentCtrl.getTranslatedLine(availability.deliveryCode)}}"
            title="{{$ctrl.parentCtrl.getTranslatedLine(availability.deliveryCode)}}">
            <span class="button-content">
                <span class="availability-status {{availability.availability}}"
                    ng-class="{'text-rtl': $ctrl.parentCtrl.switchToLtrString()}"
                    translate="{{availability.deliveryCode}}"
                    translate-values="$ctrl.parentCtrl.getPlaceHolders($ctrl.result)" 
                    translate-compile>
                </span>
            </span>
            <prm-spinner class="inline-loader display-inline dark-on-light half-transparent"
                ng-if="$ctrl.result.rtaInProgress"></prm-spinner>
            <prm-icon link-arrow icon-type="{{$ctrl.parentCtrl.availabilityLineIcons.arrowRight.type}}"
                svg-icon-set="{{$ctrl.parentCtrl.availabilityLineIcons.arrowRight.iconSet}}"
                icon-definition="{{$ctrl.parentCtrl.availabilityLineIcons.arrowRight.icon}}"></prm-icon>
        </md-button>
        <!-- <span class="availability-status" ng-click="$ctrl.onLinkClick(availability, $event)">
             <span
                    ng-if="availability.availability" class="availability-display"
                    translate-default="{{availability.availability}}"
                    translate="fulldisplay.availabilty.{{availability.availability}}"> 
            </span>  -->
        <!-- <span
                    ng-if="!availability.outboundLink" class=\'availability-link\' ng-show=\'availability.toTranslate\'>
                    <span translate="{{availability.toTranslate}}" class="library-code"> </span> <span
                        ng-if="availability.subLocation" class="sublibrary-code">{{availability.subLocation}}</span> <span
                        ng-if="availability.callNumber" class="item-callnumber">{{availability.callNumber}}</span>
                    <prm-icon ng-if="availability.outboundLink" icon-type="svg" svg-icon-set="primo-ui"
                        icon-definition="open-in-new" aria-label="externalLink" class="ng-scope ng-isolate-scope"
                        external-link>
                        <md-icon md-svg-icon="primo-ui:open-in-new" aria-label="externalLink" class="md-primoExplore-theme"
                            aria-hidden="true" />
                    </prm-icon>
                </span> <a ng-if="availability.outboundLink" class=\'availability-link\'
                    ng-show=\'availability.toTranslate\' href={{availability.outboundLink}}
                    ng-click="$ctrl.prevent($event)"> <span translate="{{availability.toTranslate}}" class="library-code">
                    </span> <span ng-if="availability.subLocation"
                        class="sublibrary-code">{{availability.subLocation}}</span> <span ng-if="availability.callNumber"
                        class="item-callnumber">{{availability.callNumber}}</span>
                    <prm-icon ng-if="availability.outboundLink" icon-type="svg" svg-icon-set="primo-ui"
                        icon-definition="open-in-new" aria-label="externalLink" class="ng-scope ng-isolate-scope"
                        external-link>
                        <md-icon md-svg-icon="primo-ui:open-in-new" aria-label="externalLink" class="md-primoExplore-theme"
                            aria-hidden="true" />
                    </prm-icon>
                </a> </span>
            <hesb-map ng-if="availability.callNumber" ctrl="availability"></hesb-map> -->
    </div>
</div>